@import "./global.scss";

#HomePage
{
    width: 100%;
    height: 100%;
}

#HomePage_Main
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Title
    {
        margin-bottom: 10dvh;
    }

    .PlayAndHelpButtons
    {}

    > *:last-child
    {
        margin-bottom: 15dvh;
    }
}

#HomePage_HoverButtons
{
    position: fixed;
    top: 0px;
    width: calc(100% - 4dvh);
    padding: 2dvh;

    display: flex;
    flex-direction: row-reverse;
}